<!-- _includes/nav.html -->
<nav class="sidebar">
  <a class="sidebar-brand" href="{{site.baseurl}}/">Xanthan</a>
  <ul class="sidebar-nav">
    <li><a href="{{site.baseurl}}/">Home</a></li>
    <li><a href="{{site.baseurl}}/about">About</a></li>
    <li><a href="{{site.baseurl}}/directory">Directory</a></li>
    <!-- Add dropdowns if needed, e.g. -->
    <li class="sidebar-section">
      <span>Sample Essays</span>
      <ul>
        <li><a href="{{site.baseurl}}/essays/mesa-vista-hall">Mesa Vista Hall</a></li>
      </ul>
    </li>
    <!-- ... more links ... -->
  </ul>
</nav>
