<nav class="sidebar">
  <div class="sidebar-brand">
    <a href="{{ '/' | relative_url }}">
      {{ site.title }}
    </a>
  </div>
  <ul class="sidebar-list">
    {% assign sorted_essays = site.essays | sort: "title" %}
    {% for essay in sorted_essays %}
      <li>
        <a href="{{ essay.url | relative_url }}">{{ essay.title }}</a>
        {%- if page.url == essay.url -%}
        <ul>
          {%- for heading in essay.content | split: "<h" -%}
            {%- if heading contains '</h2>' -%}
              {%- assign text = heading | split: ">" | last | split: "</h2>" | first -%}
              <li>
                <a href="#{{ text | slugify }}">{{ text }}</a>
              </li>
            {%- endif -%}
          {%- endfor -%}
        </ul>
        {%- endif -%}
      </li>
    {% endfor %}
  </ul>
</nav>


